body{
	font-family: arial, helvetica;
	background: #d405a1;
}

.menu{
	list-style: none;
	padding: 0;
	background: #dfdfdf;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: rgb(50, 13, 187);
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #b43a05;
}
